<h1>All Quotes</h1>

<%= link_to "New Quote", new_quote_path %>
<br>
<br>

<ul>
    <% @quotes.each do |quote| %>
        <li>
            <!-- ## Display the quote: -->
            “<%= quote.content %>”
            <br>― <strong><%= quote.attribution %></strong><% if quote.source.present? %><% if quote.source_link.present? %>, <%= link_to quote.source, quote.source_link %><% else %>, <%= quote.source %><% end %><% end %>
            <br>
            <small>
                <!-- Posted by: Matīss Apinis on August 10, 2023   🤍 0 🔼 0 🔽 0 -->
                Posted by: <%= link_to quote.user.display_name, user_path(quote.user) %> on <%= quote.created_at.strftime("%B %d, %Y") %>
                &nbsp; 
                <!-- ## Show favorites: -->
                <% if current_user.favorited_quotes.include?(quote) %>
                    <%= link_to '❤', remove_favorite_quote_path(quote), method: :delete %>
                <% else %>
                    <%= link_to '🤍', add_favorite_quote_path(quote), method: :post %>
                <% end %>
                <%= quote.favoriting_users.count %>
                <!-- ## Show upvotes and downvotes: -->
                <% if current_user.upvoted_quotes.include?(quote) %>
                    <%= link_to '👍', upvote_quote_path(quote), method: :post %>
                <% else %>
                    <%= link_to '🔼', upvote_quote_path(quote), method: :post %>
                <% end %> 
                <%= quote.upvoted_users.count %>
                <% if current_user.downvoted_quotes.include?(quote) %>
                    <%= link_to '👎', downvote_quote_path(quote), method: :post %>
                <% else %>
                    <%= link_to '🔽', downvote_quote_path(quote), method: :post %>
                <% end %> 
                <%= quote.downvoted_users.count %>
            </small>
            <br>
            <!-- ## Display topics for the quote: -->
            <small>Topics:<% quote.topics.each do |topic| %>
                <%= link_to topic.name, topic_path(topic) %>
                <% unless topic == quote.topics.last %> | <% end %> <!-- ## Separator between topics unless it's the last topic. -->
            <% end %></small>
            <br>
            <br>
            <%= link_to "Show", quote_path(quote) %>
            <!-- ## Conditionally display the Edit and Delete links: -->
            <% if current_user.admin? || quote.owned_by?(current_user) %> |
                <%= link_to "Edit", edit_quote_path(quote) %> |
                <!-- #### GET method delete link now working: <%= button_to "Delete", quote_path(quote), method: :delete, data: { confirm: "Are you sure?" } %> -->
                <%= link_to "Delete", quote_path(quote), method: :delete, data: { confirm: "Are you sure?" } %>
            <% end %>
        </li>
        <br>
    <% end %>
</ul>

<%= will_paginate(@quotes) %>
