<h1>All Quotes</h1>

<%= link_to "New Quote", new_quote_path %>
<br>
<br>

<ul>
    <% @quotes.each do |quote| %>
        <li>
            “<%= quote.content %>”<br>― <strong><%= quote.attribution %></strong><% if quote.source.present? %><% if quote.source_link.present? %>, <%= link_to quote.source, quote.source_link %><% else %>, <%= quote.source %><% end %><% end %>
            <br>
            <small>Posted by: <%= quote.user.display_name %> on <%= quote.created_at.strftime("%B %d, %Y") %></small>
            <br>
            <%= link_to "Show", quote_path(quote) %> |
            <!-- Conditionally display the Edit and Delete links: -->
            <% if current_user.admin? || quote.owned_by?(current_user) %>
                <%= link_to "Edit", edit_quote_path(quote) %> |
                <!-- #### GET method delete link now working: <%= button_to "Delete", quote_path(quote), method: :delete, data: { confirm: "Are you sure?" } %> -->
                <%= link_to "Delete", quote_path(quote), method: :delete, data: { confirm: "Are you sure?" } %>
            <% end %>
        </li>
        <br>
    <% end %>
</ul>
