<h1>New Quote</h1>

<!-- ## Display validation errors when uploading quote: -->
<% if @quote.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>
    <ul>
    <% @quote.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% if @quote.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>
    <ul>
    <% @quote.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= render 'form' %>

<%= link_to "Back to All Quotes", quotes_path %>
