<p>“<%= @quote.content %>”</p>
<!-- ## Using `.present?` to handle both nil and empty string cases: -->
― <strong><%= @quote.attribution %></strong><% if @quote.source.present? %><% if @quote.source_link.present? %>, <%= link_to @quote.source, @quote.source_link %><% else %>, <%= @quote.source %><% end %><% end %>

<br><br>

<small>Original poster: <%= @quote.user.display_name %> on <%= @quote.created_at.strftime("%B %d, %Y") %></small>
<br>
<small>Original poster comment: <%= @quote.comment %></small>

<br><br>

<% if current_user.admin? || @quote.owned_by?(current_user) %>
    <%= link_to "Edit", edit_quote_path(@quote) %> |
    <!-- #### GET method delete link now working: <%= button_to "Delete", quote_path(@quote), method: :delete, data: { confirm: "Are you sure?" } %> | -->
    <%= link_to "Delete", quote_path(@quote), method: :delete, data: { confirm: "Are you sure?" } %> |
<% end %>
<%= link_to "Back to All Quotes", quotes_path %>
