<h3><%= @user.display_name %></h3>
<% if @user.display_full_name? %>
    <p>Full Name: <%= @user.full_name %> <% if @user.display_name == @user.full_name %>(<i>same as display name</i>)<% end %></p>
    <br>
<% end %>

<h5><%= @user.display_name %>' quotes:</h5>
<ul>
  <% @quotes.each do |quote| %>
    <li>
      “<%= quote.content %>”<br>
      ― <strong><%= quote.attribution %></strong><% if quote.source.present? %><% if quote.source_link.present? %>, <%= link_to quote.source, quote.source_link %><% else %>, <%= quote.source %><% end %><% end %>
      <br>
      <small>Posted on <%= quote.created_at.strftime("%B %d, %Y") %> &nbsp; <% if current_user.favorited_quotes.include?(quote) %><%= link_to '❤', remove_favorite_quote_path(quote), method: :delete %><% else %><%= link_to '🤍', add_favorite_quote_path(quote), method: :post %><% end %> <%= quote.favoriting_users.count %></small>
    </li>
    <!-- ## Display topics for the quote: -->
    <small>Topics:<% quote.topics.each do |topic| %>
        <%= link_to topic.name, topic_path(topic) %>
        <% unless topic == quote.topics.last %> | <% end %> <!-- ## Separator between topics unless it's the last topic. -->
    <% end %></small>
    <br>
    <br>
    <br>
  <% end %>
</ul>

<!-- ### TD: 'will_paginate-bootstrap4' gem or another gem for Bootstrap 5? -->
<!-- #### <%= will_paginate @quotes %> -->
<%= will_paginate @quotes, param_name: 'quotes_page' %>

<br>
<h5><%= @user.display_name %>' favorited quotes:</h5>
<% if @user.display_favorites? %>
    <ul>
        <% if @favorite_quotes.present? %>
            <% @favorite_quotes.each do |quote| %>
                <li>
                    “<%= quote.content %>”<br>
                    ― <strong><%= quote.attribution %></strong><% if quote.source.present? %><% if quote.source_link.present? %>, <%= link_to quote.source, quote.source_link %><% else %>, <%= quote.source %><% end %><% end %>
                    <br>
                    <small>Posted by: <%= link_to quote.user.display_name, user_path(quote.user) %> on <%= quote.created_at.strftime("%B %d, %Y") %> &nbsp; <% if current_user.favorited_quotes.include?(quote) %><%= link_to '❤', remove_favorite_quote_path(quote), method: :delete %><% else %><%= link_to '🤍', add_favorite_quote_path(quote), method: :post %><% end %> <%= quote.favoriting_users.count %></small>
                    <!-- ## Display topics for the quote: -->
                    <br>
                    <small>Topics:<% quote.topics.each do |topic| %>
                        <%= link_to topic.name, topic_path(topic) %>
                        <% unless topic == quote.topics.last %> | <% end %> <!-- ## Separator between topics unless it's the last topic. -->
                    <% end %></small>
                    <br>
                    <br>
                </li>
                <br>
            <% end %>
        <% else %>
            <p>This user hasn't favorited any quotes yet.</p>
        <% end %>
    </ul>

    <!-- <%= will_paginate @favorite_quotes %> -->
    <%= will_paginate @favorite_quotes, param_name: 'favorites_page' %>
<% else %>
    <p><%= @user.display_name %> has chosen not to display their favorites.</p>
<% end %>